@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
$orange :#E87532;
$custom-colors: (
    "orange":$orange ,
);

$theme-colors: map-merge($custom-colors , $theme-colors);