.logo-footer {
    text-decoration: none !important;
    color: black !important;
}

.footer-center {
    justify-items: center;
}

footer {
    margin-top: 20vh;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    padding: 40px 0;display: block;
}
.boostrao-made{
    color: orange;
}
.boostrao-made:hover{
    text-decoration: underline solid orange;
}